Faker==	23.1.0
Jinja2==3.1.3
MarkupSafe==2.1.5
PySocks==1.7.1
astunparse==1.6.3
atomicwrites==1.4.1
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
docutils==0.20.1
exceptiongroup==1.2.0
h11==0.14.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
outcome==1.3.0.post0
packaging==23.2
piglet-templates==1.3.0
pip==22.3.1
pluggy==1.4.0
py==1.11.0
pycparser==2.21
pyparsing==3.1.1
pytest==8.0.0
pytest-async-generators==0.0.4
pytest-asyncio==0.21.1
pytest-base-url==2.1.0
pytest-html==4.1.1
pytest-metadata==3.1.0
pytest-selenium==4.1.0
pytest-variables==3.1.0
python-dateutil==2.8.2
requests==2.31.0
selenium==4.17.2
setuptools==65.5.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tenacity==8.2.3
trio==0.24.0
trio-websocket==0.11.1
typing-extensions==4.9.0
urllib3==2.2.0
wheel==0.38.4
wsproto==1.2.0
zipp==3.17.0
